.wrapper{
    width: 1440px;
    height: 4000px;
    background-color: #F2F7F9;
    margin: 0 auto;
}

.header{
    width: 1440px;
    height: 200px;
    background-color: #1B1B1B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger_menu{
    margin-top: 30px;
    margin-left: 50px;
}

.name1{
    margin-left: 408px;
    font-family: Redressed;
    font-size: 48px;
    color: #EDF6F9;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    margin-left: 408px;
    margin-top: 30px;
}

.cart,
.search {
    margin-right: 20px;
}


.block_1 {
    width: 1440px;
    height: 648px;
    position: relative; 
}

.slider {
    position: absolute;
    width: 100%; 
}

.header_content {
    width: 672px;
    height: 296px;
    position: absolute;
    bottom: 250px;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    border-radius: 16px;
    background-color: #EDF6F9;
    opacity: 80%;
}

.text_header {
    position: absolute;
    top: 30px;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    text-align: center;
    color: #1B1B1B;
}

.text_header2 {
    position: absolute;
    top: 182px;
    font-size: 32px;
    display: flex;
    text-align: center;
    color: #1B1B1B;
}

.header_button {
    width: 432px;
    height: 70px;
    position: absolute;
    bottom: 100px;
    left: 50%; /* Add this line */
    transform: translateX(-50%); /* Add this line */
    border-radius: 16px;
    background-color: #83C5BE;
}

.text_button{
    font-size: 24px;
    margin-top: 19px;
    margin-left: 159px;
    font-weight: 600;
    color: #1B1B1B;
}

.block_2text{
    margin-top: 144px;
    margin-left: 144px;
    font-size: 40px;
    font-weight: 600;
}

.cards{
    margin-top: 48px;
    margin-left: 48px;
    display: flex;
    align-items: center;
}

.card1 {
    position: relative; /* Make the container position relative */
    width: 312px;
    height: 378px;
    margin-right: 48px;
    border-radius: 16px;
    background-image: url(/img/pngwing1.png);
    background-position: 22px 25px;
    background-repeat: no-repeat;
    background-color: #DAD7CD;
}

.card1text,
.card1price {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.card1text {
    bottom: 57px;
}

.card1price {
    bottom: 25px;
}

.card2{
    position: relative;
    width: 312px;
    height: 378px;
    margin-right: 48px;
    border-radius: 16px;
    justify-content: space-between;
    background-image: url(/img/pngwing2.png);
    background-position: 22px 25px;
    background-repeat: no-repeat;
    background-color: #DAD7CD;
}

.card2text,
.card2price {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.card2text {
    font-weight: Medium;
    bottom: 57px;
}

.card2price {
    bottom: 25px;
}

.card3{
    position: relative;
    width: 312px;
    height: 378px;
    margin-right: 48px;
    border-radius: 16px;
    justify-content: space-between;
    background-image: url(/img/pngwing3.png);
    background-position: 22px 25px;
    background-repeat: no-repeat;
    background-color: #DAD7CD;
}

.card3text,
.card3price {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.card3text {
    font-weight: Medium;
    bottom: 57px;
}

.card3price {
    bottom: 25px;
}

.card4{
    position: relative;
    width: 312px;
    height: 378px;
    margin-right: 48px;
    border-radius: 16px;
    justify-content: space-between;
    background-image: url(/img/pngwing4.png);
    background-position: 22px 25px;
    background-repeat: no-repeat;
    background-color: #DAD7CD;
}

.card4text,
.card4price {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.card4text {
    font-weight: Medium;
    bottom: 57px;
}

.card4price {
    bottom: 25px;
}

.block_3{
    width: 1440px;
    height: 656px;
    top: 118px;
    position: relative;
    background-color: #1B1B1B;
}

.image3{
    width: 552px;
    height: 552px;
    top: 52px;
    left: 144px;
    position: absolute;
    background-image: url(img/image3.png);
}

.text3{
    font-size: 40px;
    font-weight: 600;
    top: 143px;
    left: 768px;
    position: absolute;
    color: #F2F7F9;
}

.text3_1{
    width: 531px;
    font-size: 20px;
    top: 270px;
    left: 768px;
    position: absolute;
    color: #F2F7F9;
}

.button3{
    width: 288px;
    height: 64px;
    top: 450px;
    left: 768px;
    position: absolute;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F7F9;
}

.block4text{
    font-size: 40px;
    font-weight: 600;
    margin-top: 260px;
    margin-left: 144px;
    color: black;
}

.card4_1{
    width: 192px;
    height: 192px;
    background-image: url(img/block4_1.png);
}
